In [4]:
import numpy as np
import pandas as pd

In [5]:
data = { 
    "States" : [' ','Maharashtra', 'Karnataka', 'Andhra Pradesh', 'Tamil Nadu', 'Uttar Pradesh', 'Kerala', 'Delhi', 'West Bengal', 'Odisha', 'Telangana', 'Bihar', 'Rajasthan', 'Assam', 'Chattisgarh', 'Haryana','Gujarat', 'Madhya Pradesh', 'Punjab', 'Jharkhand', 'Jammu and Kashmir', 'Uttarakhand', 'Goa', 'Pudhucherry', 'Tripura', 'Himachal Pradesh', 'Manipur', 'Arunachal Pradesh', 'Meghalaya', 'Nagaland', 'Ladakh', 'Sikkim'],
    # *******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************

    "Total Cases" : [' ','17,14,273', '8,44,147', '8,40,730', '7,41,488', '4,95,421', '4,80,669', '4,30,784', '4,01,394', '3,00,140', '2,50,331', '2,20,936', '2,08,637', '2,09,438', '1,99,562','1,80,424','1,76,468', '1,36,958','1,04,239','98,337','65,036','35,744','31,517','24,812','20,131','15,389','10,047','9,455','6,790','4,441','4,195','3,090'],
    
    # *******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
    
    "New Cases" : [' ','3,959','2,258','2,367','2,341','1,894','7,201','6,953','3,928','1,372','1,440','837','1,841','248','1,571','2,011','1,046','865','477','340','532','498','169','69','83','128','72','84','21','51','58','0'],
    # *******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
    
    "Cases per 1M" : [' ','15,013','13,178','17,023','10,926','2,426','13,880','22,693','4,444','6,864','7,113','2,231','3,040','6,742','6,200','7,116','2,863','2,406','4,895','3,267','7,836','6,449','24,720','25,633','8,616','3,619','7,049','4,156','24,755','10,228','6,777','2,770'],
    # *******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
    "Deaths" : [' ','45,115','11,369','6,779','11,324','7,180','1,668','6,912','7,235','1,410','1,377','1,136','1,979','940','2,434','1,897','3,753','3,017','4,310','897','1,528','1,063','641','600','357','371','194','45','80','60','76','2']
}

In [6]:
print("DATA OF COVID - 19 Recorded on 8th of Nov, 2020")
cd = pd.DataFrame(data)
cd[0:]

DATA OF COVID - 19 Recorded on 8th of Nov, 2020

               States Total Cases New Cases Cases per 1M  Deaths
0
1         Maharashtra   17,14,273     3,959       15,013  45,115
2           Karnataka    8,44,147     2,258       13,178  11,369
3      Andhra Pradesh    8,40,730     2,367       17,023   6,779
4          Tamil Nadu    7,41,488     2,341       10,926  11,324
5       Uttar Pradesh    4,95,421     1,894        2,426   7,180
6              Kerala    4,80,669     7,201       13,880   1,668
7               Delhi    4,30,784     6,953       22,693   6,912
8         West Bengal    4,01,394     3,928        4,444   7,235
9              Odisha    3,00,140     1,372        6,864   1,410
10          Telangana    2,50,331     1,440        7,113   1,377
11              Bihar    2,20,936       837        2,231   1,136
12          Rajasthan    2,08,637     1,841        3,040   1,979
13              Assam    2,09,438       248        6,742     940
14        Chattisgarh    1,99,562     1,571        6,200   2,434
15            Haryana    1,80,424     2,011        7,116   1,897
16            Gujarat    1,76,468     1,046        2,863   3,753
17     Madhya Pradesh    1,36,958       865        2,406   3,017
18             Punjab    1,04,239       477        4,895   4,310
19          Jharkhand      98,337       340        3,267     897
20  Jammu and Kashmir      65,036       532        7,836   1,528
21        Uttarakhand      35,744       498        6,449   1,063
22                Goa      31,517       169       24,720     641
23        Pudhucherry      24,812        69       25,633     600
24            Tripura      20,131        83        8,616     357
25   Himachal Pradesh      15,389       128        3,619     371
26            Manipur      10,047        72        7,049     194
27  Arunachal Pradesh       9,455        84        4,156      45
28          Meghalaya       6,790        21       24,755      80
29           Nagaland       4,441        51       10,228      60
30             Ladakh       4,195        58        6,777      76
31             Sikkim       3,090         0        2,770       2

In [ ]:
# Part 2

In [1]:
# importing libraries 
from bs4 import BeautifulSoup as BS 
import requests 
  
  
# method to get the info 
def get_info(url): 
      
      
    data = requests.get(url) # getting the request from url
  
    # converting the text  
    soup = BS(data.text, 'html.parser') 
      
    # finding meta info for total cases 
    total = soup.find("div", class_ = "maincounter-number").text 
      
    # filtering it 
    total = total[1 : len(total) - 2] 
      
    # finding meta info for other numbers 
    other = soup.find_all("span", class_ = "number-table") 
      
    # getting recovered cases number 
    recovered = other[2].text 
      
    # getting death cases number 
    deaths = other[3].text 
      
    # filtering the data 
    deaths = deaths[1:] 
      
    # saving details in dictionary 
    ans ={'Total Cases' : total, 'Recovered Cases' : recovered,  
                                 'Total Deaths' : deaths} 
      
    # returning the dictionary 
    return ans 
   
# url of the corona virus cases 
url = "https://www.worldometers.info/coronavirus/"
  
# calling the get_info method 
ans = get_info(url) 
  
# printing the ans 
for i, j in ans.items(): 
    print(i + " : " + j)

Total Cases : 74,534,155
Recovered Cases : 52,372,534
Total Deaths : 1,655,226